html{
    background-color: green;
}
header,footer, aside{
    position: relative;
}

.header-bar{
    position: absolute; 
    margin: 0;
    padding: 10px;
    text-align: center; 
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main{
    display: flex; 
}

.post{
    background-color: purple; 
    /* flex-grow: 1;
    padding: 20px; */
    margin-bottom: 20px;
    border: 1px sold #ddd;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;


}

.sidebar{
    background-color: green;
    position: fixed; 
    width: 250px;
    padding: 20px;
    border-right: 1px solid #ddd; 
    
}

.suggestions{
    background-color: red;


}